/*FLEX BTTR GRID*/
.bread {
  margin: 0 auto;
  background-color: #f5f5f5;
}
.bttr {
  margin: 0% 1.0416667%;
  float: left;
  overflow: hidden;
  display: inline;
  /*for ie double margin*/
}
/*FLEX BTTR GRID*/
.g12 {
  width: 97.9166667%;
  /*940 / 960*/
}
.g11 {
  width: 89.5833333%;
  /*860 / 960*/

}
.g10 {
  width: 81.25%;
  /*780 / 960*/
}
.g9 {
  width: 72.9166667%;
  /*700 / 960*/

}
.g8 {
  width: 64.5833333%;
  /*620 / 960*/
}
.g7 {
  width: 56.25%;
  /*540 / 960*/

}
.g6 {
  width: 47.9166667%;
  /*460 / 960*/

}
.g5 {
  width: 39.5833333%;
  /*380 / 960*/
}
.g4 {
  width: 31.25%;
  /*300 / 960*/

}
.g3 {
  width: 22.9166667%;
  /*220 / 960*/

}
.g2 {
  width: 14.5833333%;
  /*140 / 960*/

}
.g1 {
  width: 6.25%;
  /*60 / 960*/

}
.r1 {
  margin-right: 9.375000099999987%;
}
.r2 {
  margin-right: 17.708333399999994%;
}
.r3 {
  margin-right: 26.0416667%;
}
.r4 {
  margin-right: 34.37500009999999%;
}
.r5 {
  margin-right: 42.708333399999994%;
}
.r6 {
  margin-right: 51.04166669999999%;
}
.r7 {
  margin-right: 59.375000099999994%;
}
.r8 {
  margin-right: 67.70833339999999%;
}
.r9 {
  margin-right: 76.0416667%;
}
.r10 {
  margin-right: 84.37500009999998%;
}
.r11 {
  margin-right: 92.70833339999999%;
}
.l1 {
  margin-left: 9.375000099999987%;
}
.l2 {
  margin-left: 17.708333399999994%;
}
.l3 {
  margin-left: 26.0416667%;
}
.l4 {
  margin-left: 34.37500009999999%;
}
.l5 {
  margin-left: 42.708333399999994%;
}
.l6 {
  margin-left: 51.04166669999999%;
}
.l7 {
  margin-left: 59.375000099999994%;
}
.l8 {
  margin-left: 67.70833339999999%;
}
.l9 {
  margin-left: 76.0416667%;
}
.l10 {
  margin-left: 84.37500009999998%;
}
.l11 {
  margin-left: 92.70833339999999%;
}
.bttr.box.g12 {
  width: 100%;
  /*for flex box bttr*/

}
.bttr.box.g11 {
  width: 91.6666667%;
  /*for flex bttr*/
}
.bttr.box.g10 {
  width: 83.3333333%;
  /*for flex bttr*/
}
.bttr.box.g9 {
  width: 75%;
  /*for flex bttr*/
}
.bttr.box.g8 {
  width: 66.6666667%;
  /*for flex bttr*/
}
.bttr.box.g7 {
  width: 58.3333333%;
  /*for flex bttr*/
}
.bttr.box.g6 {
  width: 50%;
  /*for flex bttr*/
}
.bttr.box.g5 {
  width: 41.6666667%;
  /*for flex bttr*/
}
.bttr.box.g4 {
  width: 33.3333333333%;
  /*for flex bttr*/
}
.bttr.box.g3 {
  width: 25%;
  /*for flex bttr*/
}
.bttr.box.g2 {
  width: 16.6666667%;
  /*for flex bttr*/
}
.bttr.box.g1 {
  width: 8.3333333%;
  /*for flex bttr*/
}
/*
	TODO Ajouter toutes les tailles en pourcent pour les bttr interne aux box en fonction de leur taille
*/
.bttr.box.g1,
.bttr.box.g2,
.bttr.box.g3,
.bttr.box.g4,
.bttr.box.g5,
.bttr.box.g6,
.bttr.box.g7,
.bttr.box.g8,
.bttr.box.g9,
.bttr.box.g10,
.bttr.box.g11,
.bttr.box.g12 {
  margin: 0;
  padding: 0;
}
.test.box.g1,
.test.box.g2,
.test.box.g3,
.test.box.g4,
.test.box.g5,
.test.box.g6,
.test.box.g7,
.test.box.g8,
.test.box.g9,
.test.box.g10,
.test.box.g11,
.test.box.g12 {
  background-color: #000000;
}
/*FIXED BTTR GRID*/
/*
.g12{ width:940px; }
.g11{ width:860px; }
.g10{ width:780px; }
.g9{ width:700px; }
.g8{ width:620px; }
.g7{ width:540px; }
.g6{ width:460px; }
.g5{ width:380px; }
.g4{ width:300px; }
.g3{ width:220px; }
.g2{ width:140px; }
.g1{ width:60px; }
*/
.test .g1,
.test .g2,
.test .g3,
.test .g4,
.test .g5,
.test .g6,
.test .g7,
.test .g8,
.test .g9,
.test .g10,
.test .g11,
.test .g12 {
  background-color: #fff89e;
  min-height: 60px;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.mb70 {
  margin-bottom: 70px !important;
}
.mb80 {
  margin-bottom: 80px !important;
}
.mb90 {
  margin-bottom: 90px !important;
}
.mb100 {
  margin-bottom: 100px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mt70 {
  margin-top: 70px !important;
}
.mt80 {
  margin-top: 80px !important;
}
.mt90 {
  margin-top: 90px !important;
}
.mt100 {
  margin-top: 100px !important;
}
.rl {
  position: relative;
}
