@media screen and (min-width: 1440px) {
  body {
    background-image: url('http://placehold.it/100x200&text=1152px');
  }
  .page {
    width: 1152px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1439px) {
  body {
    background-image: url('http://placehold.it/100x200&text=960px');
  }
  .page {
    width: 960px;
  }
}
@media screen and (max-width: 959px) {
  body {
    background-image: url('http://placehold.it/100x200&text=480px');
  }
  .page {
    width: 480px;
  }
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
