@media screen and (min-width: 1440px) {
  body.test {
    background-image: url('http://placehold.it/100x200&text=1152px');
  }
  .bread {
    width: 1152px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1439px) {
  body.test {
    background-image: url('http://placehold.it/100x200&text=960px');
  }
  .bread {
    width: 960px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  body.test {
    background-image: url('http://placehold.it/100x200&text=768px');
  }
  .bread {
    width: 768px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  body.test {
    background-image: url('http://placehold.it/100x200&text=480px');
  }
  .bread {
    width: 480px;
  }
}
@media screen and (max-width: 479px) {
  body.test {
    background-image: url('http://placehold.it/100x100&text=320px');
  }
  .bread {
    width: 320px;
  }
}
